{% extends "base.html" %}
{% load mptt_tags %}

{% block heading %}{{object.title}}{% endblock %}

{% block content %}
<p>{{object.content}}</p>
{% if user.is_authenticated %}
<a class="button" href="/add_page/?story={{object.story.id}}&parent_page={{object.id}}">Continue this plot line</a>
{% endif %}
Children:
<ul>
    {% recursetree nodes %}
        <li>
            <a href="/pages/{{node.id}}">{{ node.title }}</a>
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>
{% endblock %}