{% extends "base.html" %}
{% load mptt_tags %}

{% block heading %}{{object.title}}{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<a class="button" href="/add_page/?story={{object.id}}">Add a new page</a>
{% endif %}
<p id="storyDescription">{{object.description}}</p>
Pages:
<ul>
    {% recursetree nodes %}
        <li>
            <a href="/pages/{{node.id}}">{{ node.title }}</a>
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>

Author: {{object.author}}
{% endblock %}
