<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}Our Storybook{% endblock %}</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/global.css" />
    {% block scripts %} {% endblock %}
</head>

<body>
    <header>
        <nav>
            <a href="/stories/">Home</a>

            {% if user.is_authenticated %}
            <a href="/logout/">Logout</a>
            <span>{{user.username}}</span>
            {% else %}
            <a href="/login">Login</a>
            {% endif %}
        </nav>
    <h1>Our Storybook</h1>
    </header>
    
    <h1 class="heading">{% block heading %}{% endblock %}</h1>
    <section>{% block content %}{% endblock %}</section>
</body>

</html>
